{% extends 'base.html.twig' %}

{% block title %}{{ 'info_log_in_form_title'| trans }}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {{ 'info_you_are_logged_as'| trans }} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'action_logout'| trans }}</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{{ 'info_please_sign_in'| trans }}</h1>
    <label for="inputEmail">{{ 'field_email'| trans }}</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">{{ 'field_password'| trans }}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <br>
    <center>
        <button class="btn btn-lg btn-primary" type="submit">
            {{ 'action_sign_in'| trans }}
        </button>
    </center>
    <br>
    <center>
    <div>
        <a href="{{ url('main_index') }}" class="btn btn-lg btn-primary">
            {{ 'action_back'| trans }}
        </a>
    </div>
    </center>
</form>
{% endblock %}
