{% extends 'base.html.twig' %}

{% block title %}
    Hello!
{% endblock %}

{% block body %}
    <center>
    <p>
        {{ 'info_hello_world'| trans }}
    </p>
    </center>
    <center>
        <div class="btn btn-lg btn-primary">
            <a href="{{ url('register_form') }}" class="btn btn-lg btn-primary">
                {{ 'action_open_register_panel'| trans }}
            </a>
        </div>
    </center>
    <br>
    <center>
        <div class="btn btn-lg btn-primary">
            <a href="{{ url('app_login') }}" class="btn btn-lg btn-primary">
                {{ 'action_open_login_panel'| trans }}
            </a>
        </div>
    </center>

{% endblock %}