{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_admin_panel'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_admin_panel'|trans }}</h1>
<table>
    <td>
        <center>
            <div >
                <a class="btn btn-primary"  href="{{ url('app_logout') }}">{{ 'action_logout'| trans }}</a>
            </div>
        </center>
    </td>
    <td>
    <center>
        <div>
            <a class="btn btn-primary"  href="{{ url('message_index') }}">{{ 'action_openChat'| trans }}</a>
        </div>
    </center>
    </td>
</table>
    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'user.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_roles'|trans, 'user.roles') }}</th>
                <th>{{ 'label_isBanned'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>
                    <table class="table table-striped">
                        {% for role in user.roles %}
                            <tr>{{ role }}</tr><br>
                        {% endfor %}
                    </table>
                    </td>
                    <td>
                        {% if user.isBanned %}
                            {{ 'label_yes'| trans }}
                        {% else %}
                            {{ 'label_no'| trans }}
                        {%  endif %}
                    </td>

                    {% if user.isBanned %}
                        <td>
                            <form id="ubanUserForm" action="{{url('admin_panel_unbanUser')}}" method="POST">
                                <input id="userId" name="userId" type="hidden" value={{ user.id}}>
                                <input type="submit" value="{{ 'action_unbanUser'| trans }} " class="btn btn-primary" />
                            </form>
                        </td>
                    {% else %}
                        <td>
                            <form id="banUserForm" action="{{url('admin_panel_banUser')}}" method="POST">
                                <input id="userId" name="userId" type="hidden" value={{ user.id}}>
                                <input type="submit" value="{{ 'action_banUser'| trans }} " class="btn btn-primary" />
                            </form>
                        </td>
                    {% endif %}

                    {% if 'ROLE_ADMIN' in user.roles %}
                        <td>
                            <form id="revokeAdminForm" action="{{url('admin_panel_revokeAdmin')}}" method="POST">
                                <input id="userId" name="userId" type="hidden" value={{ user.id}}>
                                <input type="submit" value="{{ 'admin_revokeAdmin'| trans }} " class="btn btn-primary" />
                            </form>
                        </td>
                    {% else %}
                        <td>
                            <form id="grantAdminForm" action="{{url('admin_panel_grantAdmin')}}" method="POST">
                                <input id="userId" name="userId" type="hidden" value={{ user.id}}>
                                <input type="submit" value="{{ 'action_grantAdmin'| trans }} " class="btn btn-primary" />
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}