{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>{{ 'info_register_form_title'| trans }}</h1>
    <center>
    {{ form_start(form, { method: 'POST', action: url('register_form') }) }}
    {{ form_widget(form) }}
        <br>
        <center>
            <div class="btn btn-primary">
                <input type="submit" value="{{ 'action_send'| trans }}" class="btn btn-primary" />
            </div>
        </center>
        <br>
        <div  class="btn btn-primary">
            <a href="{{ url('main_index') }}"  class="btn btn-primary">
                {{ 'action_back'| trans }}
            </a>
        </div>
    </center>
    {{ form_end(form) }}
{% endblock %}