{% extends 'base.html.twig' %}

{% block title %}
    Hello!
{% endblock %}

{% block body %}
    <p>
        {{ 'info_welcome_to_the_global_chatroom'| trans }}
    </p>

    {% if app.user %}
        <div class="mb-3">
            {{ 'info_you_are_logged_as'| trans }} {{ app.user.username }},
            <a href="{{ path('app_logout') }}">{{ 'action_logout'| trans }}</a>
        </div>
    {% endif %}
    <div class="form-group col float-sm-left">
    {% for message in parsedMessages %}
        {% if message.currentUser %}
            <div class="form-group row messageBoxTypeB ">
        {% else %}
            <div class="form-group row messageBoxTypeA">
        {% endif %}
                <p>{{message.dateTime}}</p>
                <p>{{message.username}}</p>
                <p>{{message.content}}</p>
                {% if adminPrivileges %}

                    <form id="removeMessageForm" action="{{url('user_index')}}" method="POST">
                        <input id="messageId" name="messageId" type="hidden" value={{ message.id }}>
                        <input type="submit" value="{{ 'action_remove'| trans }} {{ message.id }}" class="btn btn-primary" />
                    </form>

                {% endif %}
            </div>
    {% endfor %}
    </div>
<div>
    <div>
        {{ form_start(form, { method: 'POST', action: url('user_index') }) }}
        {{ form_widget(form) }}
    </div>
    <div class="form-group row float-sm-left">
        <input type="submit" value="{{ 'action_send'| trans }}" class="btn btn-primary" />
    </div>
        {{ form_end(form) }}
</div>

{% endblock %}