{% extends 'base.html.twig' %}

{% block title %}
    Hello!
{% endblock %}

{% block body %}
    <p>
        Welcome in the global chatroom!
    </p>

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }},
            <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="form-group col float-sm-left">
    {% for message in parsedMessages %}
        {% if message.currentUser %}
            <div class="form-group row messageBoxTypeB ">
                <p>{{ message.username}}</p>
                <p>{{message.dateTime}}</p>
                <p>{{message.content}}</p>
            </div>
        {% else %}
            <div class="form-group row messageBoxTypeA">
                <p>{{message.dateTime}}</p>
                <p>{{ message.username}}</p>
                <p>{{message.content}}</p>
            </div>
        {% endif %}

    {% endfor %}
    </div>
<div>
    <div>
        {{ form_start(form, { method: 'POST', action: url('user_index') }) }}
        {{ form_widget(form) }}
    </div>
    <div class="form-group row float-sm-left">
        <input type="submit" value="Send" class="btn btn-primary" />
    </div>
</div>
    {{ form_end(form) }}
{% endblock %}